/** Stylus Styles */

@import '../../node_modules/vuetify/src/stylus/main'

.input-group--text-field input {
  font-size: 14px;
}

.input-group--text-field input, .input-group--text-field textarea {
  font-size: 14px;
}

table.table tbody td {
  font-size: 14px;
}

table.table thead th {
  font-size: 1.1rem;
}
